In [ ]:
#python collection
# list
# tuple
# dict
# set
# ctrl + /

In [4]:
#liSt inside liSt
a=[[1,3,5,7],
  [4,2,6,8],
  [18,5,9,2]]
print(a[0][0])
a=a+[[0,0,0,]]
print(a)

1
[[1, 3, 5, 7], [4, 2, 6, 8], [18, 5, 9, 2], [0, 0, 0]]

In [ ]:
data=[]
n=int(input("Enter a number: "))
for i in range(n):
    name=input("Enter a number: ")
    age=(input("Enter a number: ")
    add=(input("Enter a number: ")

In [6]:
n= int(input("Enter n="))
l=[]
for i in range(n):
    x= int(input("Enter  x ="))
    l = l +[x]
print(l)

Enter n=3
Enter  x =4
Enter  x =5
Enter  x =7
[4, 5, 7]

In [3]:

n= int(input("Enter n="))
l=[]
for i in range(n):
    x= int(input("Enter  x ="))
    l = l +[x]
print(l)
print("The max value =",max(l))
print("The min value =",min(l))
print("The sum of the all value=",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Enter n=2
Enter  x =1
Enter  x =2
[1, 2]
The max value = 2
The min value = 1
The sum of the all value= 3
[1, 2]
[2, 1]

In [5]:
a=["apple","zebra","Banana","Cat"]
a.sort()
print (a)

['Banana', 'Cat', 'apple', 'zebra']

In [1]:
a=["apple","zebra","Banana","Cat"]
print("len of a=",len(a))
if "apple" in a   :
    print("Yes",a.count("apple"))
else:
    print("No")

len of a= 4
Yes 1

In [7]:
a=["apple","zebra","Banana","Cat"]
a.append("tiger")
a

['apple', 'zebra', 'Banana', 'Cat', 'tiger']

In [9]:
# insert()
a=["apple","zebra","Banana","Cat"]
a.insert(1,"dog")
a

['apple', 'dog', 'zebra', 'Banana', 'Cat']

In [10]:
a=["apple","zebra","Banana","Cat"]
b=["Ram","Shyam","Hari"]
a.extend(b)
print(a)

['apple', 'zebra', 'Banana', 'Cat', 'Ram', 'Shyam', 'Hari']

## n= int(input("Enter n="))
l=[]
for i in range(n):
    x= int(input("Enter  x ="))
    l.append(x)
print(l)

In [1]:
a=["apple","zebra","Banana","Cat"]
del a[0]

In [2]:
# remove
c=["apple","zebra","Banana","Cat"]
c.remove("zebra")
c

['apple', 'Banana', 'Cat']

In [5]:
c=["apple","zebra","Banana","Cat"]
b= c.pop(1)
print(c)
print(b)

['apple', 'Banana', 'Cat']
zebra

In [6]:
# to remove multiple value using del
c=["apple","zebra","Banana","Cat"]
del c[0:2]
c

['Banana', 'Cat']

In [2]:
c=["apple","cat","zebra","Banana","cat"]
b=c.count("cat")
print(c)
for i in range(b):
    c.remove("cat")
    
print(c)

['apple', 'cat', 'zebra', 'Banana', 'cat']
['apple', 'zebra', 'Banana']

In [12]:
c=["apple","cat","zebra","Banana","cat"]
n= len(c)
for i in range(n):
    print(c[i])

apple
cat
zebra
Banana
cat

In [4]:
c=["apple","cat","zebra","Banana","cat"]
n= len(c)
for i in range(n):
    if c[i] == "cat":
        
        print(i,c[i])

1 cat
4 cat

In [ ]:
def prime(n):
    a=int(input("Enter a number: "))
    if a%2

In [ ]:
a=[[1,3,5,7],[4,2,6,8],[18,5,9,2]]
search=int(input("enter a number: "))
for i in (a):
    if search in i:
        print(i)
        a.remove(i)
print(a)

In [ ]:
# create a matrix using row and column inout from user
# tuple

In [8]:
n=int(input("enter a number: "))
l=()
for i in range(n,):
    x=int(input("enter a number: "))
    l=d+(x,)
print (d)

enter a number: 2
enter a number: 12
enter a number: 14
(12, 14)

In [3]:
n= int(input("Enter n="))
l=[]

for i in range(n):
    rollno=int(input("Enter student roll number:",))
    name= input("Enter your student name=")
    address=(input("Enter your address="))
    x=[rollno,name,address]
    l = l +[x]

print (l)
search=int(input("Enter the roll number: "))
for i in (l):
    if search in i:
        print(i)

Enter n=2
Enter student roll number:1
Enter your student name=f
Enter your address=f
Enter student roll number:2
Enter your student name=f
Enter your address=f
[[1, 'f', 'f'], [2, 'f', 'f']]
Enter the roll number: 1
[1, 'f', 'f']

In [8]:
matrix = []
r = int(input("enter number of rows: "))
c=int(input("enter number of column: "))
for i in range(r):
    a = []
    for j in range(c):
        k=input("enter the elements: ")
        a.append(k)
        print (a)
    matrix.append(a)
for i in range(r):
    for j in range(c):
        print(matrix[i][j],end= " ")
    print()

enter number of rows: 2
enter number of column: 2
enter the elements: 26
['26']
enter the elements: 4
['26', '4']
enter the elements: 3
['3']
enter the elements: 6
['3', '6']
26 4
3 6

In [ ]:
# #dictionary
# -Indexed
# -Multiple and duolicate value
# -Ordered
# -Mutable

In [9]:
# d = {<key>:<value>,<key>:<value>,....}
d={'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [10]:
info={'name':'Ram','age':10,'add':'Nepal'}
print(info['name'])
print(info['age'])
print(info['add'])

Ram
10
Nepal

In [ ]:
d={'a':'Apple','b':'Ball','c':'Cat','A':'Apple'}
print(d)

In [1]:
d= {}
# d=dict()
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [4]:
info={}
n = int(input("enter n= "))
for i in range(n):
    name=input('Enter name=')
    phone=int (input("Enter phone= "))
    info[name]=phone
    
print(info)

enter n= 2
Enter name=ram
Enter phone= 9857544
Enter name=shyam
Enter phone= 9454546
{'ram': 9857544, 'shyam': 9454546}

In [15]:
a={'Ram':9874374632,'Shyam':984347654}
for i in a.values():
    print(i)

9874374632
984347654

In [17]:
l=[]
a={'Ram':9874374632,'Shyam':984347654}
for i in a.items():
    l.append(i)
print(l)

[('Ram', 9874374632), ('Shyam', 984347654)]

In [19]:
dict(l)

{'Ram': 9874374632, 'Shyam': 984347654}

In [18]:
a={'Ram':9874374632,'Shyam':984347654}
for i in a.items():
    print(i)

('Ram', 9874374632)
('Shyam', 984347654)

In [ ]:
# No concatination in dictioneries
# No +*

In [20]:
d={'Ram': 9874374632, 'Shyam': 984347654}
a={'Hari':984545435}

d.update(a)
d

{'Ram': 9874374632, 'Shyam': 984347654, 'Hari': 984545435}

In [21]:
a={'Ram': 9874374632, 'Shyam': 984347654, 'Hari': 984545435}
a['Ram']=9999999
a

{'Ram': 9999999, 'Shyam': 984347654, 'Hari': 984545435}

In [23]:
# list inside dictionary
a={'Ram':[5656544,9874374632], 
   'Shyam':[564768,984347654], 
   'Hari':[656563,984545435]}
print(a)

{'Ram': [5656544, 9874374632], 'Shyam': [564768, 984347654], 'Hari': [656563, 984545435]}

In [2]:
info={}
n=int(input("Enter the value of n= "))
for i in range(n):
    name = input("Enter name= ")
    ntc =int(input("Enter ntc no= "))
    ncell = int(input("Enter ncell no = "))
    info[name]=[ntc,ncell]
print(info)

Enter the value of n= 1
Enter name= jkfhdfg
Enter ntc no= 578456
Enter ncell no = 78454725
{'jkfhdfg': (578456, 78454725)}

In [4]:
# data={'name':['Ram','Shyam','hari'],
#      'Age':[45'67'34],
#      'Add':['Kathmandu','Bhaktapur','lalitpur']}

info={'Name':[],
      'Age':[],
      'Add':[]}
n=int(input("Enter the value of n= "))
for i in range(n):
    name = input("Enter name= ")
    age =int(input("Enter age= "))
    add = (input("Enter address= "))
    info['Name'].append(name)
    info['Age'].append(age)
    info['Add'].append(add)
    
print(info)

Enter the value of n= 2
Enter name= manoj
Enter age= 24
Enter address= butwal
Enter name= David
Enter age= 24
Enter address= Budgaon
{'Name': ['manoj', 'David'], 'Age': [24, 24], 'Add': ['butwal', 'Budgaon']}

In [28]:
a={'Name': ['ram', 'shyam'], 'Age': [56, 45], 'Add': ['butwal', 'palpa']}
a['Name'].append('karan')
a['Age'].append('34')
a['Add'].append('Hetauda')
a

{'Name': ['ram', 'shyam', 'karan'],
 'Age': [56, 45, '34'],
 'Add': ['butwal', 'palpa', 'Hetauda']}

In [1]:
# del pop()
d={'Name': ['ram', 'shyam'], 'Age': [56, 45], 'Add': ['butwal', 'palpa']}
del d['Add']
d

{'Name': ['ram', 'shyam'], 'Age': [56, 45]}

In [2]:
d={'Name': ['ram', 'shyam'], 'Age': [56, 45], 'Add': ['butwal', 'palpa']}
del d['Name'][0]
del d['Age'][0]
del d['Add'][0]
d

{'Name': ['shyam'], 'Age': [45], 'Add': ['palpa']}

In [3]:
d={'Name': ['ram', 'shyam'], 'Age': [56, 45], 'Add': ['butwal', 'palpa']}
d['Add'][0] ="jhapa"
d

{'Name': ['ram', 'shyam'], 'Age': [56, 45], 'Add': ['jhapa', 'palpa']}

In [ ]:
# dict inside list
l=[{'name':'Ram','age':23,'add':'Kathmandu'},
  {'name':'Shyam','age':34,'add':'kathmandu'},
  {'name':'Hari','age':21,'add':'Jhapa'}]

In [6]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(6))

11

In [7]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello()) ## returns "<b><i><u>hello world</u></i></b>"

<b><i><u>hello world</u></i></b>