In [1]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     -------------------------------------- 11.9/11.9 MB 346.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=8299d570109172a6366acbd8165b2557a62f759146eed04966f727e516def900
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",

  database = "firstdatabase"
)
db = database.cursor()

In [3]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\user\appdata\roaming\python\python39\site-packages (2.2.9)

In [2]:
import mysql.connector

database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",

  database = "firstdatabase"
)
db = database.cursor()

In [38]:
sql ="SELECT * FROM student WHERE Grade ='A'"
db.execute(sql)
result =db.fetchall()
result

[(3, 'Hari', 89, 78, 98, 89, 78, 480, 85.0, 'A'),
 (5, 'Muskan', 85, 83, 99, 91, 90, 485, 90.0, 'A')]

In [3]:
Name=input('enter your name: ')
Physics =int(input("enter physics marks: "))
Chemistry = int(input("enter chemistry marks: "))
Math = int(input("enter math marks: "))
English = int(input("enter english marks: "))
Nepal = int(input("enter nepali marks: "))
Total=int(input("enter total marks: "))
Per=int(input("enter percentage: "))
Grade=input("enter grade: ")



sql= f'''INSERT INTO student(Name,Physics, Chemistry, Math, English, Nepal, Total, Per, Grade)
VALUES ('{Name}',{Physics},{Chemistry},{Math},{English},{Nepal},{Total},{Per},'{Grade}')'''
db.execute(sql)
database.commit()

enter your name: kasi
enter physics marks: 56
enter chemistry marks: 67
enter math marks: 78
enter english marks: 89
enter nepali marks: 56
enter total marks: 289
enter percentage: 58
enter grade: D

In [ ]:
sql= f'''UPDATE student SET name='Bikash' WHERE SN=6'''
db.execute(sql)
database.commit()

In [ ]:
#                         Python + MySql

#     Install MySql
#             Go to inside your Virtual environment and type:

#             python -m pip install mysql-connector
            
            
            
#                         Create a database

# import mysql.connector
# #importing database
# database = mysql.connector.connect(
# host="localhost",
# user=“root",
# password=""
# )
# db = database.cursor()

# db.execute("CREATE DATABASE pythons")

# The MySQLCursor class instantiates objects that can execute operations such as SQL statements.
# Cursor objects interact with the MySQL server using a MySQLConnection object.

# To create a cursor, use the cursor() method of a connection object.


#                                         Creating a table

# import mysql.connector
# #importing database
# database = mysql.connector.connect(
# host="localhost",
# user=“root",
# password=“”,

# database = “pythons”
# )
# db = database.cursor()
# db.execute(“CREATE TABLE subject(id INT, name
# VARCHAR(255))”)


#                                 Select in MySql

# db.execute("SELECT * FROM profile”)
# result =db.fetchall()
# for x in result:
# print(x)
           
           

#                                 Insert in MySql
           

# import mysql.connector

# mydb = mysql.connector.connect(

# host="localhost",

# user="root",

# passwd="",

# database="python"

# )

# mycursor = mydb.cursor()

# sql = "INSERT INTO profile (name, address) VALUES(‘Ram’,’kathmandu’)"

# mycursor.execute(sql)

# mydb.commit()

# print(mycursor.rowcount, "record inserted.")
           
           
           
           
#                                  Where in MySql
           

# sql = "SELECT * FROM profile WHERE address =‘Nepal'"
# database.execute(sql)

# result = database.fetchall()
# for x in result:
# print(x)



#                                 Delete in MySql

# import mysql.connector
# database = mysql.connector.connect(
# host="localhost",
# user=“root",
# passwd="",
# database=“python"
# )
# db = database.cursor()
# sql = "DELETE FROM profile WHERE address = ‘Nepal‘ "
# db.execute(sql)
# database.commit()
# print(db.rowcount, "record(s) deleted")
           
           
           
           
#                            Update in MySql

# import mysql.connector

# db = mysql.connector.connect(

# host="localhost",

# user="root",

# passwd="",

# database="python"

# )

# mycursor = db.cursor()

# sql = "UPDATE profile SET address = 'Kathmandu' WHERE address = 'Nepal'"

# mycursor.execute(sql)

# db.commit()

# print(mycursor.rowcount, "record(s) affected")