In [ ]:
# dictionary inside dictionary
# info = {1:{'name':'Rama','age'=23,'add':'ktm'},
#         2:{'name':'Shyam','age':34,'add':'Bara'}}

In [14]:
data ={}
n=int(input("Enter a number: "))
for i in range(1,n+1):
    name = input("Enter a name: ")
    age = int(input("Enter the age: "))
    add = input("Enter the address: ")
    info = {'name':name,'age':age,'add':add}
    data[i]=info
    
print(data)

Enter a number: 2
Enter a name: ram
Enter the age: 34
Enter the address: palpa
Enter a name: hari
Enter the age: 45
Enter the address: butwal
{1: {'name': 'ram', 'age': 34, 'add': 'palpa'}, 2: {'name': 'hari', 'age': 45, 'add': 'butwal'}}

In [2]:
data[3]={'name':"Nabin",'age':46,'add':"Chitwan"}
data

{1: {'name': 'ram', 'age': 34, 'add': 'palpa'},
 3: {'name': 'Nabin', 'age': 46, 'add': 'Chitwan'}}

In [3]:
data [3]['age']=22
data

{1: {'name': 'ram', 'age': 34, 'add': 'palpa'},
 3: {'name': 'Nabin', 'age': 22, 'add': 'Chitwan'}}

In [ ]:
info = {1:{'name':'Rama','age'=23,'add':{'permanent':'Jhapa','temporary':'kathmandu'}},
         2:{'name':'Shyam','age':34,'add':{'permanent':'Jhapa','temporary':'kathmandu'}}}

In [4]:
d={('ram','shyam'): 98463553,
  ('hari','sita'):9743465}
d

{('ram', 'shyam'): 98463553, ('hari', 'sita'): 9743465}

In [6]:
d[('ram','shyam')]

98463553

In [ ]:
# SET
# -No indexing
# -Unordered
# -No duplicate
# -Mutable

In [7]:
s= set()
type(s)

set

In [8]:
s={123,456,6,545,546}
s

{6, 123, 456, 545, 546}

In [9]:
s={'Apple','Ball','Ant','Zebra','cat'}
s

{'Ant', 'Apple', 'Ball', 'Zebra', 'cat'}

In [10]:
a = {(1,2,3),(4,5,6)}
print (a)

{(1, 2, 3), (4, 5, 6)}

In [11]:
s=set()
s.add('Apple')
s.add('Ball')
s

{'Apple', 'Ball'}

In [15]:
ms ={'Bill','John','Mike','Satya','Sumit','Suman'}
apple = {'Jobs','Steave','Sun','John','pukar','Suman'}
ms.intersection(apple)

{'John', 'Suman'}

In [18]:
ms.union(apple)

{'Bill', 'Jobs', 'John', 'Mike', 'Satya', 'Steave', 'Suman', 'Sun', 'pukar'}

In [19]:
U = {'Bill', 'Jobs', 'John', 'Mike', 'Satya', 'Steave', 'Suman', 'Sun', 'pukar','Moon'}
ms ={'Bill','John','Mike','Satya','Sumit','Suman'}
apple = {'Jobs','Steave','Sun','John','pukar','Suman'}
print(ms-apple)
print(apple-ms)
U-ms.union(apple)

{'Mike', 'Sumit', 'Satya', 'Bill'}
{'Sun', 'Jobs', 'Steave', 'pukar'}

{'Moon'}

In [4]:
data ={}
n=int(input("Enter a number: "))
for i in range(1,n+1):
    vehicle= input("Enter a vehicle  name: ")
    
    model= input("Enter the model of the car: ")
    price=int(input("Enter the price of the car: "))
    data[vehicle]=[model,price]
    
    
    
print(data)

Enter a number: 1
Enter a car name: gjfg
Enter the model of the car: jhsfg
Enter the price of the car: 46364
{'gjfg': ['jhsfg', 46364]}